*, *::before, *::after {
  --tw-leading: normal;
}

:root {
  --header-position: fixed;
  --header-height: 64px;
  --header-mb: 0px;
  --header-offset: 1.5rem;
}

.admin-bar {
  --header-offset: calc(var(--wp-admin--admin-bar--height, 32px) + 1.5rem);
}

.wp-site-blocks {
  height: 100%;
}

main {
  padding-top: calc(var(--header-height) + var(--header-offset));
}

a {
  text-decoration: none;
}

.wp-block-button__link:hover {
  background: var(--color-teal-500);
}

.site-header {
  height: 64px;
}
